@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
}

body {
    background-color: var(--main);
}

:root {
  --main: rgb(240,245,245);
  --main1: #FFF;
  --second: #333;
  --second1: #5e5e5e;
  --accent: #db4e32;

}
/* #00C896 accent
  --main: #303030
  --main1: 
*/

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

