.header {
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--main);
}

.header h1 {
    color: var(--second);
    font-weight: 900;
    font-size: min(max(2rem,4vw), 2.6rem);
    letter-spacing: -1px;
}

.header input {
    padding: 8px 12px;
    color: var(--second1);
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: var(--main);
    width: 100%;
    font-size: min(max(0.9rem,3vw), 1.1rem);
    margin: 0 5%;
    border-radius: 5px;
    max-width: 400px;
    box-shadow:  0 0 2px 0 var(--second);
}

.header input::placeholder {
    color: var(--second1);
}

.header .option {
    display: flex;
    font-size: min(max(1.3rem ,2vw), 25px);
    color: var(--accent);
    transition: 0.4s;
    gap: 15px;
}

.header .option i {
    cursor: pointer;
    background-color: var(--main1);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(max(1.3rem, 2vw),1.6rem);
    border-radius: 50%;
    color: var(--second1);
}

.header .option .fa-moon {
    animation: SlideBottom 0.3s forwards;
}

.header .option .fa-sun {
    animation: SlideTop 0.3s forwards;
}

@keyframes SlideTop {
    0% {
        transform: translateX(50%);
    } 50% {
        transform: translateX(-20%);
    } 100% {
        transform: translateX(0);
    }
}
@keyframes SlideBottom {
    0% {
        transform: translateX(50%);
    } 50% {
        transform: translateX(-20%);
    } 100% {
        transform: translateX(0);
    }
}

.header .option i:active {
    color: white;
    background-color: var(--accent);
}