.notes-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    gap: 20px;
}

.notes {
    background-color: var(--main1);
    width: 42vw;
    max-width: 250px;
    box-shadow: 0 0 2px 0 var(--second);
    display: flex;
    height: 220px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    flex-direction: column;
    overflow-y: hidden;
}

@media (max-width: 500px) {
    .notes {
      height: 150px;
    }
  }
.notes .notes-header {
    padding: 7px 7px 10px 7px;
    border-bottom: 1px solid var(--second1);
    margin-bottom: 5px;
}

.notes .notes-header p{
    color: var(--second);
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    font-size: min(max(1rem, 2vw), 1.3rem);
    margin-bottom: auto;
}

.notes .notes-text {
    color: var(--second1);
    margin: 0 10px;
    font-size: min(max(0.8rem, 2vw), 0.9rem);
    cursor: pointer;
    word-wrap: break-word;
}

.notes .option{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 7px;
    border-radius: 3px;
    background-color: var(--main);
    animation: hideOptions 0.5s forwards;
}

@keyframes hideOptions {
    from {
        transform: translateY(200%);
    } to {
        transform: translateY(0);
    }
}

.notes .option i {
    cursor: pointer;
    font-size: min(max(1.3rem,3vw), 1.5rem);
    padding: 1px 5px;
    border-radius: 2px;
    color: var(--accent);
    text-align: right;
}

.options {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 7px;
    background-color: var(--main);
    border-radius: 5px;
    padding: 8px;
    display: flex;
    animation: showOptions 0.5s forwards;
    flex-direction: column;
    align-items: center;
    transform: translateY(130%);
}
@keyframes showOptions {
    from {
        transform: translateY(130%);
    }
    to {
        transform: translateY(0);
    }
}

.options .fa-x {
    color: var(--accent);
    margin-top: 15px;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    font-size: min(max(0.8rem,2vw), 1rem);
}

.edit-option {
    background-color: var(--main);
    display: flex;
    font-size: min(max(0.8rem,2vw), 1.1rem);
    color: var(--accent);
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.edit-option i {
    transition: 0.3s;
    cursor: pointer;
}

.edit-option i:active {
    color: var(--accent);
}


.notes-container .no-notes{
    color: var(--second);
    font-size: 1.5rem;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-weight: bold;
}

.notes-container .no-notes button {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    letter-spacing: -5px;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--accent);
    border: 2px solid var(--second1);
    animation: scaleButton 0.8s infinite;
}

@keyframes scaleButton {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.3);
    } 
}

.notes-container .no-notes-found {
    color: var(--second);
    margin-top: 50px;
    font-weight: bold;
    font-size: 2rem;
}